/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

freedam-web-notices-container {
  display: block;
}

freedam-web-notices-container ul.freedam-web-notices {
  list-style: none;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

freedam-web-notices-container .tributeText {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

freedam-web-notices-container li.freedam-web-notice {
  flex: 0 1 auto;
  margin: 0;
}

freedam-web-notices-container div.paginator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

freedam-web-notices-container div.paginator > * {
  margin: 0.2em 0.8em;
  flex: 0 1 auto;
}

freedam-web-notices-container div.paginator > button {
  width: 9em;
}

freedam-web-notices-container div.paginator > button[disabled] {
  opacity: 40%;
  pointer-events: none;
}

freedam-web-notices-container div.paginator > span.current {
  font-weight: bold;
  flex-basis: auto;
}

@media (min-width: 500px) {
  freedam-web-notices-container div.paginator {
    flex-flow: row wrap;
  }
}
